* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff9f9;
}

/* main  */
#userprofile {
    background-color: #fff;
    width: 30vw;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 9px 9px 0px 0px;
}

.posts {
    margin: auto;
    width: 30vw;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0px 0px 9px 9px;
}

#userprofile .header .poster {
    /*                 background-image: url("./assets/images/971.jpg"); */
    background-image: url("https://loremflickr.com/200/200?random=38");
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 100%;
    object-fit: cover;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    margin-top: 7px;
    border-radius: 9px;
}

#userprofile .header .poster .profilePic {
    /* background-color: aliceblue; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-bottom: 3px;
}

#userprofile .header .poster .profilePic img {
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100px;

}

#userprofile .header .names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
}

#userprofile .header .activity {
    display: grid;
    justify-content: space-around;
    /* align-items: center; */
    /* grid-auto-columns: minmax(30px, 3); */
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    text-align: center;
}

/* posts */
.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 2px;
    justify-items: center;
    padding: 8px;
}

.posts img {
    width: 100%;
    height: auto;
    border-radius: 7px;
    /* grid-row: span 7; */
}

/* full view */
#fullView {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000065;
    width: 100vw;
    height: 100vh;
}

#fullView img {
    width: 100vw;
    height: auto;
    object-fit: cover;
}

/* view full image  */
#fullImage {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000ac;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fullImage img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
    top: 0;
}

/* foote */
.footNavigation {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    width: 100vw;
    max-height: fit-content;
    background-color: #fff9f9;
    padding: 6px;
    font-size: 22px;
}

.sidebar {
    width: 40vw;
    height: 100vh;
    background-color: #faf6f6;
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
}

.sidebar .links ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
}

.sidebar .links ul li {
    margin: 15px 0px;
    list-style: none;
    border-bottom: 1px solid blue;
    width: 100%;
}

@media (max-width: 426px) {

    #userprofile .header .poster {
        /*                 background-image: url("./assets/images/971.jpg"); */
        background-image: url("https://loremflickr.com/200/200?random=38");
        /* background-repeat: no-repeat; */
        background-position: center;
        background-size: cover;
        height: 40vh;
        width: 100%;
        object-fit: cover;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: last baseline;
    }

    #userprofile .header .poster .profilePic {
        background-color: aliceblue;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        margin-bottom: 3px;
    }

    #userprofile .header .poster .profilePic img {
        border-radius: 50%;
        object-fit: cover;
        aspect-ratio: 1/1;
        width: 100px;

    }

    #userprofile .header .names {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-size: 20px;
    }

    #userprofile .header .activity {
        display: grid;
        justify-content: space-around;
        /* align-items: center; */
        /* grid-auto-columns: minmax(30px, 3); */
        grid-template-columns: repeat(3, 1fr);
        padding: 5px;
        text-align: center;
    }

    /* posts */
    .posts {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        align-items: center;
        justify-content: center;
        gap: 3px;
        padding: 2px;
        justify-items: center;
    }

    .posts img {
        width: 100%;
        height: auto;
        /* grid-row: span 7; */
    }

    /* footer */
    .footNavigation {
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0px;
        z-index: 999;
        width: 100vw;
        max-height: fit-content;
        background-color: #fff9f9;
        padding: 6px;
        font-size: 22px;
    }

    .sidebar {
        width: 40vw;
        height: 100vh;
        background-color: #faf6f6;
        display: flex;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .sidebar .links ul li a {
        text-decoration: none;
        color: #000;
        font-size: 18px;
        padding: 5px 10px;
        width: 100%;
    }

    .sidebar .links ul li {
        margin: 15px 0px;
        list-style: none;
        border-bottom: 1px solid blue;
        width: 100%;
    }

    #fullView {
        position: absolute;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00000065;
        width: 100vw;
        height: 100vh;
    }

    #fullView img {
        width: 100%;
    }

    /* view full image  */
    #fullImage {
        width: 100vw;
        height: 100vh;
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000ac;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #fullImage img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: relative;
        top: 0;
    }
}
